.row
	.col-md-12
		h1 January 30, 2016
		h4 Ceremony 1:00 pm
		h4 Reception 5:30 pm
.row
	.col-md-12
		h3 Gift Registration
		p We have chosen not to register anywhere.
		p We will gladly accept donations towards our honeymoon if anyone insists on bringing a gift!
		h3 Invitations
		p Invitations will be in the mail shortly!
		p If you are to bring a guest and it wasn't on the invitation feel free to throw them on your RSVP. We'll get back to you ASAP letting you know if we can accomodate. Extra spots are going to be first come first serve!
	
		h3 After the Ceremony
		p Guests will be invited to stick around in the ball room directly next to the Ceremony room and visit. We are currently discussing with the venue what the options are to have the bar be open while we are away. Updates will be posted here as soon as we know! There are also several resturaunts upstairs just past the lobby of the hotel if you want to go for a bite.  We will begin dinner right after we arrive post photographs so hopefuly the hunger wont be out of control
