.row
	.col-md-12
		h2 A special thanks to
		ul
			li
				a(href='http://www.radisson.com/edmonton-hotel-ab-t6h5c2/abedmsou') The Raddison, Edmonton South  
			li Ryan Pederson with 
				a(href='http://www.brillionphotography.com/') Brillion Photography
			li 
				a(href='http://www.specialeventrentals.com') Special Event Rentals Edmonton
			li Teresa with
				a(href='http://www.teresascakes.ca/') Teresa's Custom Cakes
